
<body>
    <div>
        <p> </p>
        <h><b>Creators:</b></h>
        <p>Sepehr Behnami</p>
    </div>
    <div>
        <h><b>Email:</b></h>
        <p>sepehr.3b@gmail.com</p>
        <h><b>Fallow Us:</b></h>
    </div>
    <div class="row">
        <div align="center" class="col"><a class="button icon ion-social-facebook" onclick="window.open('https://www.facebook.com/BLACK0RONIN', '_system', 'location=yes'); return false;"></a></div>
        <div align="center" class="col"><a class="button icon ion-social-googleplus" onclick="window.open('https://plus.google.com/u/1/108432365087352114167', '_system', 'location=yes'); return false;"></a></div>
        <div align="center" class="col"><a class="button icon ion-social-instagram" onclick="window.open('https://instagram.com/black_ronin_group/', '_system', 'location=yes'); return false;"></a></div>
        <div align="center" class="col"><a class="button icon ion-social-twitter" onclick="window.open('https://twitter.com/BLACK__RONIN', '_system', 'location=yes'); return false;"></a></div>
    </div>
</body>
