<ion-view view-title="درباره قزوین">
  <ion-content ng-controller="infoCtrl" >
    <div class="list card">
      <div dir="rtl" style="font-family: arial" class="item item-balanced"><strong>قزوین</strong></div>
      <div class="item item-body">
        <div dir="rtl" align="justify" style="font-family: arial">قزوین یکی از شهرهای بزرگ ایران در باختر و مرکز استان و شهرستان قزوین است. این شهر در بلندای ۱٬۲۷۸ متری از سطح دریا واقع شده است. قزوین از نظر تعداد اثر تاریخی رتبه اول را در ایران و سوم را در جهان دارد، همچنین به عنوان پایتخت بزرگ خوشنویسی ایران از آن یاد می شود؛ از جمله خوشنویسان معروف می‌توان به میرعماد قزوینی اشاره کرد. قزوین به دلیل قرار گرفتن در گلوگاه ارتباطی استان‌های شمالی و غربی کشور، نزدیکی به تهران، دارا بودن چندین شهر صنعتی و نیز برخورداری از چندین دانشگاه -از جمله دانشگاه‌های بین المللی امام خمینی، علوم پزشکی و آزاد اسلامی- موقعیت خوبی برخوردار است.
          قزوین به علت دارا بودن 2،500 هکتار باغستان درر اطراف شهر و وجود بوستان ۱٬۴۰۰ هکتاری باراجین، در سال ۱۳۹۲ از سوی معاون رئیس‌جمهور و رئیس سازمان حفاظت محیط زیست کشور به عنوان شهر پاک ایران انتخاب شد.

        </div>
        <img src="img/01.jpg" width="100%" height="100%">
        <div align="center" class="text-f" style="font-family: arial"><strong>دروازه ورودی قزوین</strong></div>
        <div dir="rtl" align="justify" style="font-family: arial">قزوینی‌ها، اصالتاً فارسی‌زبان هستند. بعد از فارسی، زبان‌های ترکی آذری و تاتی از زبان‌های بومی قزوین می‌باشد و گویشوران بسیاری دارد و عمده روستاهای دشت قزوین آذری‌ زبان هستند. از آنجا که این شهر به مانند شهرهای تهران و کرج یکی از شهرهای مهاجرپذیر است، برخی از ساکنان این شهر که به قزوین مهاجرت کرده‌اند به زبان‌های مختلفی از قبیل تاتی، مراغی، کردی، لری، ترکی و رمانلویی نیز سخن می‌گویند. سوغات شهر قزوین پسته، باقلوا و شیرینی است.
      </div>
    </div>
    <div class="list card">
      <div dir="rtl" style="font-family: arial" class="item item-balanced"><strong>تاریخ</strong></div>
      <div class="item item-body">
        <div>
          <div dir="rtl" align="justify" style="font-family: arial">نوشته‌های باستانی یونان قزوین را با نام «راژیا» معرفی می‌کند و پس از آن در نوشته‌های اروپایی این شهر با نام شهر باستانی «آرساس» و یا «آرساسیا» شناخته می‌شده است. اشکانیان قزوین را به نام مؤسس آن «اردپا» می‌خواندند و ساسانیان نام این شهر را «کشوین» (یعنی سرزمینی که نباید از آن غافل شد) نهاده بودند. در برخی متون نام این شهر «قسوین» (یعنی شهری که مردمی پر صلابت و استوار دارد) ذکر شده است. به هر روی مورخان و باستان شناسان عصر حاضر، قزوین را عربی شده «کاسپین» می‌دانند؛ و بر این باورند که قوم کاسپی ها که در سواحل دریای خزر می‌زیستند به مرور کوچ کردند و شهر قزوین را بنا نهادند و به همین دلیل است که در متون کهن عثمانی و عربی نام دریای خزر «بحرالقزوین» ذکر شده است.</div>
          <img src="img/02.jpg" width="100%" height="100%">
          <div align="center" class="text-f" style="font-family: arial"><strong>شاه تهماسب اول</strong></div>
          <div dir="rtl" align="justify" style="font-family: arial">این شهر باستانی در زمان شاه تهماسب صفوی پایتخت ایران بوده‌است. نخستین خیابان ایران  (خیابان سپه) در قزوین ساخته شد. آب انبار سردار بزرگ ‌ترین آب انبار تک گنبدی جهان، در قزوین می‌باشد.
            در منطقه قزوین صدها تپه تابستانی شناسایی شده ‌است و تنها تپه سگزآباد نشانگر شهرمندی ۹۰۰۰ ساله یکجانشینی در این دشت برومند است.
          </div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div dir="rtl" style="font-family: arial" class="item item-balanced"><strong>تصاویر</strong></div>
      <div id ="gallery" class="item item-body">

        <ion-slide-box auto-play="true" show-pager="false" does-continue="true" on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <img src="img\gallery\a010.jpg" width="100%" height="400px"> <div dir="rtl" style="font-family: arial" align="center" class="text-f"><strong>عمارت چهل ستون</strong></div>
          </ion-slide>
          <ion-slide>
            <img src="img\gallery\a020.jpg" width="100%" height="400px"> <div dir="rtl" style="font-family: arial" align="center" class="text-f"><strong>سالن شهر</strong></div>
          </ion-slide>
          <ion-slide>
            <img src="img\gallery\a030.jpg" width="100%" height="400px"> <div dir="rtl" style="font-family: arial" align="center" class="text-f"><strong>دروازه درب کوشک</strong></div>
          </ion-slide>
          <ion-slide>
            <img src="img\gallery\a040.jpg" width="100%" height="400px"> <div dir="rtl" style="font-family: arial" align="center" class="text-f"><strong>پیغمبریه</strong></div>
          </ion-slide>
          <ion-slide>
            <img src="img\gallery\a050.jpg" width="100%" height="400px"> <div dir="rtl" style="font-family: arial" align="center" class="text-f"><strong>حسینیه امینی ها</strong></div>
          </ion-slide>
          <ion-slide>
            <img src="img\gallery\a070.jpg" width="100%" height="400px"> <div dir="rtl" style="font-family: arial" align="center" class="text-f"><strong>مسجد جامع</strong></div>
          </ion-slide>
          <ion-slide>
            <img src="img\gallery\a080.jpg" width="100%" height="400px"> <div dir="rtl" style="font-family: arial" align="center" class="text-f"><strong>کلیسای کانتور</strong></div>
          </ion-slide>
          <ion-slide>
            <img src="img\gallery\a090.jpg" width="100%" height="400px"> <div dir="rtl" style="font-family: arial" align="center" class="text-f"><strong>حمام رضوی</strong></div>
          </ion-slide>
          <ion-slide>
            <img src="img\gallery\a100.jpg" width="100%" height="400px"> <div dir="rtl" style="font-family: arial" align="center" class="text-f"><strong>کاروان‌سرای سعدالسلطنه</strong></div>
          </ion-slide>
          <ion-slide>
            <img src="img\gallery\a120.jpg" width="100%" height="400px"> <div dir="rtl" style="font-family: arial" align="center" class="text-f"><strong>دروازه ی تهران قدیم</strong></div>
          </ion-slide>
          <ion-slide>
            <img src="img\gallery\a060.jpg" width="100%" height="400px"> <div dir="rtl" style="font-family: arial" align="center" class="text-f"><strong>خیابان سپه</strong></div>
          </ion-slide>
          <ion-slide>
            <img src="img\gallery\a150.jpg" width="100%" height="400px"> <div dir="rtl" style="font-family: arial" align="center" class="text-f"><strong>خانه جلیل آرازی</strong></div>
          </ion-slide>
          <ion-slide>
            <img src="img\gallery\a160.jpg" width="100%" height="400px"> <div dir="rtl" style="font-family: arial" align="center" class="text-f"><strong>مقبره شهدای گمنام بوستان باراجین</strong></div>
          </ion-slide>
          <ion-slide>
            <img src="img\gallery\a130.jpg" width="100%" height="400px"> <div dir="rtl" style="font-family: arial" align="center" class="text-f"><strong>باقلوا</strong></div>
          </ion-slide>
          <ion-slide>
            <img src="img\gallery\a140.jpg" width="100%" height="400px"> <div dir="rtl" style="font-family: arial" align="center" class="text-f"><strong>قیمه نثار</strong></div>
          </ion-slide>
        </ion-slide-box>

        </div>
      </div>
    </div>
    <div class="list card"  ng-controller="mapCtrl">
      <div dir="rtl" style="font-family: arial" class="item item-balanced"><strong>نقشه</strong></div>
      <div style="height: 300px" id="newmap" class="item item-body" >
      </div>
      </div>
  </ion-content>
</ion-view>
